body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

/* Header */

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 80px;
}

.header-logo {
  font-family: hero;
  font-size: 24px;
  color: #f9faf8;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* Section One */

.section-one {
  background-color: #1f2937;
  display: flex;
  padding: 40px 80px;
  gap: 48px;
}

.section-one-title {
  color: #f9faf8;
  font-size: 30px;
  font-weight: 800;
}

.subtext {
  color: #e5e7eb;
  font-size: 18px;
}

.placeholder {
  background-color: #6d747d;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 700px;
}

#singup-section-one {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 16px;
  font-weight: bolder;
  border-style: none;
  border-radius: 10px;
  padding: 10px 30px;
  margin-top: 20px;
}

/* Section Two */

.section-two {
  color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.section-two-title {
  font-size: 36px;
  font-weight: 800;
  padding: 25px;
}

.gallery {
  display: flex;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image {
  height: 200px;
  width: 200px;
  border: #3882f6 4px solid;
  border-radius: 10px;
}

.card-caption {
  max-width: 200px;
  color: #6d747d;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

/* Section Three */
.section-three {
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  padding: 50px 300px;
}

.quote-author {
  color: #1f2937;
  font-weight: bold;
  text-align: right;
}

/* Section Four */

.section-four {
  background-color: #3882f6;
  margin: 100px 150px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}

.section-four-left-side {
  margin: 50px 0px 50px 0px;
}

.section-four-title {
  color: #f9faf8;
  font-weight: bold;
  font-size: 30px;
}

.section-four-text {
  color: #e5e7eb;
  font-size: 20px;
}

#singup-section-four {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 16px;
  font-weight: bolder;
  border-color: #f9faf8;
  border: #f9faf8 2px solid;
  border-radius: 10px;
  padding: 10px 40px;
}
